.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top
      %p.Side-bar__user-name__top__name 
        = current_user.name
      %ul.Side-bar__user-name__top__icons
        = link_to new_group_path, class: "Contents__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "Contents__btn" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__messages
        = link_to '#' do
          .Side-bar__group-list__messages__group 
            = group.name
          .Side-bar__group-list__messages__text 
            メッセージはまだありません


